@import url('https://fonts.googleapis.com/css2?family=Krona+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Krona+One&family=Montserrat&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Krona+One&family=Montserrat:wght@600&display=swap');

* {
    margin: 0;
    padding: 0;
}

body {
    height: 100vh;
    box-sizing: border-box;
    background-color: black;
    
}

.principal {
    margin: 7%;
    display: flex;
    align-items: center;
    justify-content: space-between;

}

.principal_texto {
    width: 615px;
}

.principal_texto_titulo {
    color: #f6f6f6;
    font-family: 'Krona One', sans-serif;
    font-size: 36px;
    font-weight: 400;
    line-height: 56px;
    text-align: left;
    
}

.destaque {
    color: #22D4FD;
}

.principal_texto_subtitulo {
    color: #f6f6f6;
    font-family: 'Montserrat', sans-serif;
    font-size: 24px;
    font-weight: 400;
    line-height: 36px;
    text-align: left;
}

.principal_imagem {
    width: 488px;
    height: 550;
    
}

.principal_link {
    margin-left: 5px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.principal_link_instagram {
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 280px;
    height: 79px;
    text-decoration: none;
    border-style: solid;
    background-color: #22D4FD;
    border-color: #22D4FD;
    border-width: 0px;
    color: black;
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    font-size: 24px;
    line-height: 36px;
    border-radius: 16px;
}

.principal_link_github {
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 280px;
    height: 79px;
    text-decoration: none;
    border-style: solid;
    background-color: #22D4FD;
    border-color: #22D4FD;
    border-width: 0px;
    color: black;
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    font-size: 24px;
    line-height: 36px;
    border-radius: 16px;
}