@import url('https://fonts.googleapis.com/css2?family=Krona+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Krona+One&family=Montserrat&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Krona+One&family=Montserrat:wght@600&display=swap');

* {
    margin: 0;
    padding: 0;
}

body {
    height: 100vh;
    box-sizing: border-box;
    background-color: black;
}

.principal {
    margin: 7%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.principal_texto {
    width: 615px;
    display: flex;
    flex-direction: column;
    gap: 40px;
}

.principal_texto_titulo {
    color: #f6f6f6;
    font-family: 'Krona One', sans-serif;
    font-size: 36px;
    font-weight: 400;
    line-height: 56px;
}

.destaque {
    color: #22D4FD;
}

.principal_texto_subtitulo {
    color: #f6f6f6;
    font-family: 'Montserrat', sans-serif;
    font-size: 24px;
    font-weight: 400;
    line-height: 36px;
}

.principal_texto_redes {
    color: #f6f6f6;
    font-family: 'Krona One', sans-serif;
    font-size: 24px;
    font-weight: 400;
    line-height: 40px;
}

.principal_imagem {
    width: 488px;
    height: 550;
}

.principal_link {
    display: flex;
    flex-direction: column;
    gap: 32px;
    align-items: center;
}

.principal_link_link {
    display: flex;
    justify-content: center;
    gap: 16px;
    width: 378px;
    padding: 16px 0;
    text-decoration: none;
    background-color: black;
    border: 2px solid #22D4FD;
    color: #f6f6f6;
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    font-size: 24px;
    line-height: 36px;
    border-radius: 8px;
}

.principal_link_link:hover {
    background-color: #0f0f0f;
    width: 400px;
}