@import url('https://fonts.googleapis.com/css2?family=Krona+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Krona+One&family=Montserrat&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Krona+One&family=Montserrat:wght@600&display=swap');

* {
    margin: 0;
    padding: 0;
}

:root {
    --cor-primaria: #000000;
    --cor-secundaria: #F6F6F6;
    --cor-terciara: #22D4FD;
    --cor-hover: #0f0f0f;

    --font-primaria: 'Krona One', sans-serif;
    --font-secundaria: 'Montserrat', sans-serif;

    --tamanho-font-grande: 2.25rem;
    --tamanho-font-pequeno: 1.5rem;

    --tamanho-imagem: 45%;
    --tamanho-texto: 49%;
}

body {
    box-sizing: border-box;
    background-color: var(--cor-primaria);
}

.principal {
    padding: 10% 5%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.principal_texto {
    width: var(--tamanho-texto);
    display: flex;
    flex-direction: column;
    gap: 40px;
}

.principal_texto_titulo {
    color: var(--cor-secundaria);
    font-family: var(--font-primaria);
    font-size: var(--tamanho-font-grande);
    font-weight: 400;
    line-height: 56px;
}

.destaque {
    color: var(--cor-terciara);
}

.principal_texto_subtitulo {
    color: var(--cor-secundaria);
    font-family: var(--font-secundaria);
    font-size: var(--tamanho-font-pequeno);
    font-weight: 400;
    line-height: 36px;
}

.principal_texto_redes {
    color: var(--cor-secundaria);
    font-family: var(--font-primaria);
    font-size: var(--tamanho-font-pequeno);
    font-weight: 400;
    line-height: 40px;
}

.principal_imagem {
    width: var(--tamanho-imagem);
}

.principal_link {
    display: flex;
    flex-direction: column;
    gap: 32px;
    align-items: center;
}

.principal_link_link {
    display: flex;
    justify-content: center;
    gap: 16px;
    width: 378px;
    padding: 16px 0;
    text-decoration: none;
    background-color: var(--cor-primaria);
    border: 2px solid var(--cor-terciara);
    color: var(--cor-secundaria);
    font-family: var(--font-secundaria);
    font-weight: 600;
    font-size: var(--tamanho-font-pequeno);
    line-height: 36px;
    border-radius: 8px;
}

.icone {
    width: 32px;
    height: 32px;
}

.principal_link_link:hover {
    background-color: var(--cor-hover);
    width: 400px;
}

.rodape {
    text-align: center;
    background-color: var(--cor-terciara);
    color: var(--cor-primaria);
    padding: 23.64px 0;
    font-family: var(--font-secundaria);
    font-size: var(--tamanho-font-pequeno);
    line-height: 36px;
    font-weight: 400;
}

.cabecalho {
    padding: 3% 0% 0% 7%;
}

.cabecalho_menu {
    display: flex;
    gap: 80px;
}

.cabecalho_menu_link {
    color: var(--cor-terciara);
    font-family: var(--font-secundaria);
    font-size: var(--tamanho-font-pequeno);
    line-height: 29.26px;
    font-weight: 600;
    text-decoration: none;
}

.cabecalho_menu_link:hover {
    color: var(--cor-secundaria);
}